<template name="login_layout">
	<div class="login_wrapper">

		{{> login_header}}

		{{> login_form}}

	</div>
</template>

<template name="register_layout">
	<div class="register_wrapper">

		{{> register_header}}

		{{> register_form}}

	</div>
</template>

<template name="home_layout_employer">
	<div class="home_wrapper">
	  
		{{> home_header}}

		{{> home_body_employer}}

	</div>
</template>

<template name="home_layout_employee">
	<div class="home_wrapper">
	  
		{{> home_header}}

		{{> home_body_employee}}

	</div>
</template>
