.home_wrapper {
	max-width: 700px;
  margin: 0 auto;
  min-height: 100%;
}

.home-header {
	background-color: #8e24aa;
	width: 115%;
	margin-left: -55px;
}

.home-navbar-text-size {
	font-size: 1.3rem;
	padding-left: 10px;
}

.home-navbar-bal-size {
	font-size: 1.5rem;
}

.home-body-header {
	font-weight: 300;
	color: #4a148c;
	margin-top: 30px;
	margin-bottom: 30px;
}

.search-row {
	margin-left: 50px;
}

.filter-button {
	height: 64px;
	padding-top: 12px;
}

.filter-button .filter-icon {
	font-size: 30px;
}

.profile-image {
	height: 40px;
	max-width: 100%;
}

.seat-size {
	font-size: 40px;
	color: gray;
}

.seat-unoccupied-color {
	color: gray;
}

.seat-occupied-color {
	color: black;
}

.seat-filter-color {
	color: teal;
}

.table-row {
	margin-top: -20px;
}

.table-bottom-desk {
	margin-top: -20px;
}

.table-border {
	border: 1px solid #7b1fa2;
}

.table-margin {
	margin-top: -10px;
	margin-bottom: -10px;
}

.employee-body {
	margin-top: 100px;
}
.employee-body-text {
	font-size: 30px;
	font-weight: 300;
	color: #8e24aa;
}


@media (max-width: 600px) {

	.filter-button {
		height: 57px;
	}

	.home-header {
		background-color: #8e24aa;
		width: 100%;
		margin-left: 0px;
	}

}
