<template name="home_header">
  <nav class="home-header z-depth-4">
    <div class="row ">
      <div class="col s6">
        <a href="#" class="center home-navbar-text-size">Meteor Spot</a>
      </div>
      <div class="col s6">
        <span class="home-navbar-bal-size right dropdown-button" data-activates='dropdown_header'>
          {{user_name}}</span>
      </div>
    </div>
  </nav>

  <ul id='dropdown_header' class="dropdown-content">
    <li>
      <a href="#!">
        <img src="images/Niranjan_profile.jpg" alt="" class="circle profile-image" />
      </a>
    </li>
    <li><a>Kumar Niranjan</a></li>
    <li class="divider"></li>
    <li><a href="{{pathFor 'logout'}}">Logout</a></li>
  </ul>

</template>


<template name="home_body_employer">

  <h5 class="center home-body-header">
    Employee Seating Arragement Tool
  </h5>

  <h6 class="center home-body-header">
    {{#if isUserAdmin}}
      ADMIN ( Seat Changing Allowed)
    {{else}}
      NON-ADMIN ( Seat Changing Not Allowed)
    {{/if}}
  </h6>

  <div class="row search-row">
    <div class="col s9">
      <nav class="purple darken-2">
        <div class="nav-wrapper">
          <form class="search-form">
            <div class="input-field">
              <input id="search" type="search" required name="search">
              <label for="search"><i class="mdi-action-search"></i></label>
              <i class="mdi-navigation-close"></i>
            </div>
          </form>
        </div>
      </nav>
    </div>
    <div class="col s3">
      <div class="nav-wrapper">
        <a class="waves-effect waves-light btn filter-button modal-trigger purple darken-2" href="#modal1">
          <i class="mdi-content-filter-list center filter-icon"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row table-border">
    <div class="col s12">

      <div class="row">
        <div class="col s6">
          <div class="row">
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='1'></i>
              </span>
            </div>
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1' >
                <i class="seat-size  mdi-action-assignment-ind" id='2'></i>
              </span>
            </div>
          </div>
          <div class="row table-row">
            <div class="col s12">
              <div class="card-panel purple darken-2 table-margin z-depth-4">
                <p class="white-text center"> Table 1
                </p>
              </div>
            </div>
          </div>
          <div class="row table-bottom-desk">
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='3'></i>
              </span>
            </div>
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1' >
                <i class="seat-size mdi-action-assignment-ind" id='4'></i>
              </span>
            </div>
          </div>
        </div>

        <div class="col s6">
          <div class="row">
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='5'></i>
              </span>
            </div>
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='6'></i>
              </span>
            </div>
          </div>
          <div class="row table-row">
            <div class="col s12">
              <div class="card-panel purple darken-2 table-margin z-depth-4">
                <p class="white-text center"> Table 2
                </p>
              </div>
            </div>
          </div>
          <div class="row table-bottom-desk">
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='7'></i>
              </span>
            </div>
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='8'></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s6">
          <div class="row">
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='9'></i>
              </span>
            </div>
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='10'></i>
              </span>
            </div>
          </div>
          <div class="row table-row">
            <div class="col s12">
              <div class="card-panel purple darken-2 table-margin z-depth-4">
                <p class="white-text center"> Table 3
                </p>
              </div>
            </div>
          </div>
          <div class="row table-bottom-desk">
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='11'></i>
              </span>
            </div>
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='12'></i>
              </span>
            </div>
          </div>
        </div>

        <div class="col s6">
          <div class="row">
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='13'></i>
              </span>
            </div>
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='14'></i>
              </span>
            </div>
          </div>
          <div class="row table-row">
            <div class="col s12">
              <div class="card-panel purple darken-2 table-margin z-depth-4">
                <p class="white-text center"> Table 4
                </p>
              </div>
            </div>
          </div>
          <div class="row table-bottom-desk">
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='15'></i>
              </span>
            </div>
            <div class="col s6 center">
              <span class='dropdown-button' data-activates='dropdown1'>
                <i class="seat-size mdi-action-assignment-ind" id='16'></i>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <!-- <div class="row">
    <div class="col s6">
      <div class="row">
        <div class="col s6 center">
          <a class='dropdown-button' href='#' data-activates='dropdown1'>
            <i class="medium mdi-action-perm-identity" id='17'></i>
          </a>
        </div>
        <div class="col s6 center">
          <a class='dropdown-button' href='#' data-activates='dropdown1'>
            <i class="medium mdi-action-perm-identity" id='18'></i>
          </a>
        </div>
      </div>
      <div class="row table-row">
        <div class="col s12">
          <div class="card-panel teal">
            <span class="white-text center"> Table 5
            </span>
          </div>
        </div>
      </div>
      <div class="row table-bottom-desk">
        <div class="col s6 center">
          <a class='dropdown-button' href='#' data-activates='dropdown1'>
            <i class="medium mdi-action-perm-identity" id='19'></i>
          </a>
        </div>
        <div class="col s6 center">
          <a class='dropdown-button' href='#' data-activates='dropdown1'>
            <i class="medium mdi-action-perm-identity" id='20'></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="row">
        <div class="col s6 center">
          <a class='dropdown-button' href='#' data-activates='dropdown1'>
            <i class="medium mdi-action-perm-identity" id='21'></i>
          </a>
        </div>
        <div class="col s6 center">
          <a class='dropdown-button' href='#' data-activates='dropdown1'>
            <i class="medium mdi-action-perm-identity" id='22'></i>
          </a>
        </div>
      </div>
      <div class="row table-row">
        <div class="col s12">
          <div class="card-panel teal">
            <span class="white-text center"> Table 6
            </span>
          </div>
        </div>
      </div>
      <div class="row table-bottom-desk">
        <div class="col s6 center">
          <a class='dropdown-button' href='#' data-activates='dropdown1'>
            <i class="medium mdi-action-perm-identity" id='23'></i>
          </a>
        </div>
        <div class="col s6 center">
          <a class='dropdown-button' href='#' data-activates='dropdown1'>
            <i class="medium mdi-action-perm-identity" id='24'></i>
          </a>
        </div>
      </div>
    </div>
  </div> -->
  
  <ul id='dropdown1' class="dropdown-content">
    <!-- {{#if employeeExists }} -->
      <li>
        <a href="#!">
          <img src="images/Niranjan_profile.jpg" alt="" class="circle profile-image" />{{ employeeName }}
        </a>
      </li>
      <li class="divider"></li>
      <li><a href="#!">{{ employeeTeam }}</a></li>
      <li><a href="#!">{{ employeeProject }}</a></li>
    <!-- {{/if}} -->
  </ul>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h5>Select Filter From Team and job Roles</h5>
    </div>
    <form class="filter-form">
      <div class="row">
        <div class="col s6">
          <div class="row">
            <h6>Teams</h6>
            {{#each teams}}
              <p>
                <input name="team_group" type="radio" id="{{name}}" value="{{name}}"/>
                <label for="{{name}}">{{name}}</label>
              </p>
            {{/each}}
            <p>
              <input name="team_group" type="radio" id="all_teams" value="all_teams" checked/>
              <label for="all_teams">All</label>
            </p>
          </div>
        </div>
         <div class="col s6">
          <div class="row">
            <h6>Job Roles</h6>
            {{#each job_roles}}
              <p>
                <input name="job_group" type="radio" id="{{role_name}}" value="{{role_name}}"/>
                <label for="{{role_name}}">{{role_name}}</label>
              </p>
            {{/each}}
            <p>
              <input name="job_group" type="radio" id="all_jobs" value="all_jobs" checked/>
              <label for="all_jobs">All</label>
            </p>
          </div>
        </div>
      </div>
      <div class="row center">
        <button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action">
          Apply Filter
        </button>
      </div>
    </form>
  </div>

  <!-- {{ seatsInfo}} -->
 
</template>

<template name="home_body_employee">
  <div class="row table-border employee-body">
    <p class="center employee-body-text">Oops ,Only Employer Can See the Seating Arragement</p>
    <p class="center employee-body-text">Logout and Login As Employer for access</p>
  </div>
  <div class="row center">
    <a href="{{pathFor 'new_register'}}" class="waves-effect waves-light btn purple darken-2 center">
     Logout And Register New Employee
    </a>
  </div>
</template>


