<template name="register_header">
	<nav class="register-header z-depth-4">
    <div class="row ">
      <div class="col s6">
        <a href="#" class="center register-navbar-text-size">Meteor Spot</a>
      </div>
      <div class="col s6">
        <span class="register-navbar-bal-size right">- Employee Seating Arragement</span>
      </div>
    </div>
  </nav>
</template>

<template name="register_form">
	<div class="register-form">
			<div class="row">
				<div class="col s12">
			     <p class="center">
				      <input type="radio" id="employerReg"  name="regGroup" class="purple darken-1"/>
				      <label for="employerReg" class="employer-reg">As an Employer</label>
				   </p>
				   <p class="center">
				    	<input type="radio" id="employeeReg" class="employee-reg" checked name="regGroup"/>
				      <label for="employeeReg" class="employee-reg">As an Employee</label>
			    </p>

					<form class="employer_reg_form">
				      <div class="row">
				        <div class="input-field col s12">
				          <i class="mdi-action-account-circle prefix"></i>
		          		<input id="icon_name" type="text" class="validate" name="name">
		          		<label for="icon_name">Name</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s6">
				          <i class="mdi-communication-email prefix"></i>
		          		<input id="icon_email" type="email" class="validate" name="email">
		          		<label for="icon_email">Email</label>
				        </div>
				        <div class="input-field col s6">
				          <input id="password" type="password" class="validate" name="password">
		          		<label for="password">Password</label>
				        </div>
				      </div>
				      <div class="row">
					      <p class="center">
						      <input type="checkbox" class="filled-in" id="is_admin" name="is_admin"/>
						      <label for="is_admin">Is Admin</label>
						    </p>
						  </div>
						<div class="container">
				    	<div class="row">
						    <button type="submit" class="waves-effect waves-light btn signup-btn-style">Register As Employer</button>
				    	</div>
				      <div class="row">
						    <a class="waves-effect waves-light waves-teal btn signin-btn-style" href="{{pathFor 'login'}}" >Sign In</a>
				    	</div>
				    </div>
			    </form>

			    <form class="employee_reg_form">
			    	<div class="row">
			        <div class="input-field col s12">
			        	<i class="mdi-action-account-circle prefix"></i>
	          		<input id="icon_name" type="text" class="validate" name="name">
	          		<label for="icon_name">Name</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s6">
			          <i class="mdi-communication-email prefix"></i>
	          		<input id="icon_email" type="email" class="validate" name="email">
	          		<label for="icon_email">Email</label>
			        </div>
			        <div class="input-field col s6">
			          <input id="password" type="password" class="validate" name="password">
	          		<label for="password">Password</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s6">
			          <input id="jobRole" type="text" class="validate" name="job_role">
	          		<label for="jobRole">Job Title</label>
			        </div>
			        <div class="input-field col s6">
			          <input id="team" type="text" class="validate" name="team_name">
	          		<label for="team">Team</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <input id="project" type="text" class="validate" name="project_name">
	          		<label for="project">Project</label>
			        </div>
			      </div>
			      <div class="container">
				    	<div class="row">
						    <button type="submit" class="waves-effect waves-light btn signup-btn-style">Register As Employee</button>
				    	</div>
				      <div class="row">
						    <a class="waves-effect waves-light waves-teal btn signin-btn-style" href="{{pathFor 'login'}}" >Sign In</a>
				    	</div>
				    </div>
			    </form>

		  	</div>
			</div>
	</div>
</template>

