.register_wrapper {
	max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.register-header {
	background-color: #26A69A;
	width: 115%;
	margin-left: -45px;
}

.register-navbar-text-size {
	font-size: 1.3rem;
	padding-left: 10px;
}

.register-navbar-bal-size {
	font-size: 1.5rem;
}

.register-form {
	height: 460px;
	margin-top: 20px;
}

.register-form p .register-as-employer {
	font-size: 25px;
	color: #26A69A;
}

.register-form p .register-as-employee {
	font-size: 25px;
	color: #26A69A;
}

.register-form .employer_reg_form {
	margin-top: 1px;
}

.register-form .employee_reg_form {
	margin-top: 5px;
}

.register-form .signup-btn-style {
	width: 100%;
	margin-top: 15px;
}

.register-form .signin-btn-style {
	width: 100%;
	margin-top: 4px;
	color: #26a69a;
	background-color: #fff;
	border-color: #26a69a;
	border: 2px solid;
}


@media (max-width: 600px) {

	.register-header {
		background-color: #26A69A;
		width: 115%;
		margin-left: -45px;
	}
}
