.login_wrapper {
	max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.login-header {
	margin-top: -22px;
	height: 200px;
	background-color: #26a69a;
}

.login-header h3 {
	padding-top: 60px;
	padding-left: 90px;
	color: #fff;
}

.login-header h6 {
	padding-left: 130px;
	margin-top: -10px;
	color: #fff;
}

.login-form {
	margin-top: 20px;
}

.login-form .signin-btn-style {
	width: 100%;
	margin-top: 22px;
}

.login-form .signup-btn-style {
	width: 100%;
	color: #26a69a;
	background-color: #fff;
	border-color: #26a69a;
	border: 2px solid;
}

@media (max-width: 500px) {

}

