<template name="login_header">
	<div class="login-header">
  	<div class="container">
	  	<h3>Meteor Spot</h3>
	  	<h6>- an Employee Seating MGMT Tool</h6>
	  </div>
	</div>
</template>

<template name="login_form">
	<div class="login-form">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<form >
			      <div class="row">
			        <div class="input-field col s12">
			          <i class="mdi-communication-email prefix"></i>
	          		<input id="icon_email" type="email" class="validate" name="email">
	          		<label for="icon_email">Email</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <input id="password" type="password" class="validate" name="password">
	          		<label for="password">Password</label>
			        </div>
			      </div>
			      <div class="row">
			      	<button type="submit" class="waves-effect waves-light btn signin-btn-style">Sign In</button>
			    	</div>
			    	<div class="row">
					    <a class="waves-effect waves-light waves-teal btn signup-btn-style" href="{{pathFor 'register'}}" >Sign Up</a>
			    	</div>
			    </form>
		  	</div>
			</div>
		</div>
	</div>
</template>